lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

public/libs
.DS_Store
noemaillard.com.sublime-project
noemaillard.com.sublime-workspace
public/css/styles.css
