<header><h1>Here's What i have been ut to lately...</h1></header>
<ul>
    <li ng-repeat="post in posts" class="post">
    <div ng-class-even="'triangle-topleft'" ng-class-odd="'trapeze-right'"></div>
        <div class="container">
            <section>
                <header><h2>{{post.title}}</h2></header>
                <div class="post-info">posted on <time>{{post.date}}</time></div>
                <article><p>{{post.body}}</p></article>
            </section>
        </div>
    </li>
</ul>